<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <h1>Borrar Producto</h1>
    <form method="post" action="{{ url_for('eliminar_producto', id=results[0]) }}">
        <label>¿Seguro que desea eliminar el articulo?</label>
        <br>
        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" value="{{results[1]}}" readonly=true >
        <br>
        <label for="precio">Precio:</label>
        <input type="number" id="precio" value="{{results[2]}}" name="precio" readonly=true >
        <br>
        <label for="disponible">Disponible:</label>
        <input type="text" id="disponible" value= "{% if results[3] == 1 %}True{% else %}False{% endif %}" 
        name="disponible" readonly=true >
        <br>
        <button type="submit">eliminar</button>
    </form>

    <form method="get" action="{{ url_for('index') }}">
    <button type="submit" onClick="Regresar()" style="display: inline;" >Volver</button>
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>